@import "https://bootswatch.com/4/yeti/bootstrap.min.css";
@import url('https://fonts.googleapis.com/css?family=Marck+Script&subset=cyrillic');

.navbar-fonts {
    font-family: 'Marck Script', cursive;
}

.navbar-brand {
    font-size: 25px;
}

.nav-link {
    font-size: 20px;
}

.cur-p {
    cursor: pointer;
}

.fa-times {
    cursor: pointer;
    float: right;
    color: red;
}